.addressContainer{
    margin-bottom: 5%;
    position: relative;
}
/* style.module.css */
.locationBox {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .mapContainer {
    margin-bottom: 20px;
  }
  
  
  .addressContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
