.blogsPage {
    max-width: 1200px; /* Limit the width of the page */
    margin: 0 auto; /* Center the page horizontally */
    padding: 20px; /* Add padding for spacing */
}

.title {
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Add spacing below the title */
    display: flex;
}
.title div {
    margin-left: auto;
    padding: 10px 20px; /* Added padding */
    cursor: pointer;
    text-decoration: none; /* Removed underline */
    border: 2px solid transparent; /* Transparent border */
    border-radius: 8px; /* Rounded corners */
    transition: all 0.3s ease; /* Added transition */
}
.title div:hover {
    background-color: #f2f2f2; /* Light background on hover */
}
.filters {
    margin-bottom: 20px; /* Add spacing below the filters */
}

.blogs {
    display: block;

}

/* You can adjust the styles of FiltersBox and BlogBox components in their respective style files */