.allProductsPage{
    width: 100%;
    height: auto;
    margin: 1% 2%;
}

/* Products */

.productsContainer {
  position: relative;
  margin-top: 2%;
  width: 100%;
  height: auto;
}


/* Filters */

.filtersContainer{
  position: static;
  width: 25%;
  padding: 2%;
  padding-top: 5%;
}